<div class="header-area" id="home-header">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <%= link_to root_path, class: "navbar-brand" do%>
        <img src="/assets/ucheck-temp-white.png" width="200" height="40" class="d-inline-block align-top"/>
      <% end %>
      <div class="collapse navbar-collapse"id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav main-navbar-menu">
          <li class="nav-item">
            <%= link_to 'HOW IT WORKS', "#{root_path}#how-it-works", class: "nav-link #{yield(:none_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'BENEFITS', "#{root_path}#benefits", class: "nav-link #{yield(:none_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'BLOG', posts_path, class: "nav-link #{yield(:blog_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'PRESS', aboutpage_path, class: "nav-link #{yield(:about_active)}" %>
          </li>
          <% if author_signed_in? %>
          <li class="nav-item">
            <%= link_to '#ADMIN#', authors_posts_path, class: "nav-link #{yield(:posts_active)}" %>
          </li>
          <% end %>
        </ul>
      </div>
  </nav>
  <img src="/assets/shop-bg.png" id="header-area-image"/>
  <div class="header-area-title">
    <div class="title-center-content">
      <h5> UCheck </h5>
      <h1> 30s GRAB & GO</h1>
      <h1> IN REALITY</h1>
      <div class="band"></div>
      <h5> UCheck lets customers checkout themselves on mobile phones in < 30 seconds.</h5>
      <div class="row">
        <div class="col-2">
          <div class="header-action-btn"></div>
        </div>
        <div class="col-2">
          <div class="header-action-btn"></div>
        </div>

      </div>
    </div>
  </div>
</div>
