<!DOCTYPE html>
<html>
  <head>
    <title>UCheck | Shop Faster, Sell Smarter </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/assets/favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.wilddog.com/sdk/js/2.5.8/wilddog.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>
      <%= render 'layouts/blog_header' %>
      <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

    <div class="<%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
  </body>
</html>
