<!DOCTYPE html>
<html>
  <head>
    <title>Blog Base | <%= yield(:page_title)%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/blog_header' %>
      <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

    <div class="<%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
  </body>
</html>
